<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <form action="#" method="post">
            <label for="post-title">Write your post title:</label>
            <input type="text" id="post-title" name="post-title">
            <br>
            <label for="post-content">Write your post:</label>
            <textarea name="post-content" id="post-content"></textarea>
            <button type="button" onclick="sendPost('{{current_user.id}}')">Send post</button>
        </form>

    </body>
    <script defer src="{{url_for('static', filename='js/create-post.js')}}"></script>
</html>