<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>

            <div>

                <img src="" alt="">

                <i></i>

            </div>

            <div>

                <button>

                </button>

                <button>
                    <img src="" alt="">
                </button>

            </div>

        </header>

        <section>

            <button>Newest</button>

            <button>Popular</button>

            <button>Following</button>

        </section>

        <main>
            <section>
                <img src="" alt="">
                <form action="" method="post">
                    <fieldset>
                        <legend>Let's share what's going on...</legend>
                        <textarea name="" id=""></textarea>
                    </fieldset>
                    <input type="submit" value="Create Post">
                </form>
            </section>
            <section class="posts-wrapper">
                
            </section>
        </main>
    </body>
</html>