@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&wght@400&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
}

.flex {
    display: flex;
}

.collumn {
    flex-direction: column;
}
.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.gap-8px {
    gap: 8px;
}

.gap-20px {
    gap: 20px;
}